.button {
    background-color: #eee;
    padding: 10px 20px;
    cursor: pointer;

    border: none;
    border-radius: 10px;
}

.button:hover {
    filter: brightness(70%);
}

.thumbnail {
    border-radius: 20px;
}

.link {
    color: rgb(87, 87, 206);
    /* text-decoration: underline;
    text-underline-offset: 5px; */
}

.link.gradient {
    background: linear-gradient(to right, red, blue);
    background-clip: text;
}
