.root_container {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 0.5rem;
}

.section_me {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.align_vertically {
    margin-block: auto;
}

.project_container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 475px));
    justify-content: center;
}

.project_card {
    --border-radius: 10px;
    user-select: none;
    position: relative;
    cursor: pointer;

    box-shadow: 0 0 15px black;
    min-height: 250px;
    border-radius: var(--border-radius);
    padding: 10px;
    z-index: 1;
}

.project_card:hover .project_image {
    opacity: 1;
    z-index: 1;
    box-shadow: inset 0 0 25px black;
}

.project_image {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.15;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center;
    border-radius: var(--border-radius);
}

.achievement_container {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    margin-inline: auto;
}

.project_page_container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project_page_container article {
    flex-shrink: 1;
}

.project_page_container aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
}

/* .project_page_container>* {
    background-color: gray;
} */

.tag_container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.tag_container>p {
    padding: 2px 13px;
    border-radius: 14px;
    background-color: red;
}

.info_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info_circle {
    font-size: 90%;
    text-shadow: 1px 1px black;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #494949;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: font-size 0.3s ease-in-out;
}

.info_circle:hover {
    font-size: 110%;
}

.github_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010409;
    border-radius: 25px;
    gap: 1rem;
    padding: 20px 40px;
    margin-inline: auto;
    width: fit-content;
}

.github_container:hover {
    filter: brightness(80%);
}

.project_main {
    margin-top: 2rem;
}

@media (max-width: 700px) {
    .section_me>img {
        display: none;
    }
}