* {
    color: #ddd;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-inline: 10%;
    margin-top: 100px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #222;
    font-size: 1.15em;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    box-shadow: 0 -5px 5px black;
    padding: 15px;
    margin-top: 64px;
    min-height: 5vh;
}

.section-title {
    text-align: center;
    font-size: 3rem;
}

.section-description {
    text-align: center;
}

.title-margin {
    margin-bottom: max(5%, 50px);
}

.description-margin {
    margin-bottom: max(2%, 20px)
}

/* Navbar */

#site-brand {
    max-width: 40px;
}

#navbar-divizor {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    justify-content: space-between;
    box-shadow: 0 4px 5px black;
    font-weight: 800;
    padding-inline: 5%;
    min-height: 10vh;
}

.navbar-title {
    width: fit-content;
    flex-shrink: 0;
}

.navbar-links {
    width: fit-content;
    flex-grow: 1;
    text-align: end;
}

.navbar-links > a {
    text-overflow: ellipsis;
    margin-inline: 10px;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: clip;
    flex-basis: content;
}

/* Первая секция с краткой информацией обо мне (Лендинг)*/

#myself-top-img {
    max-width: 367px;
    max-height: 569px;
    height: 10%;
    border-radius: 15px;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me h2 {
    font-size: 72px;
}

.about-me > div:first-child {
    width: 500px;
}

.about-me div * {
    margin-block: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-item {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transition: 0.5s;
}

.social-small {
    margin-inline: auto;
}

.contact-me > .socials {
    justify-content: center;
    gap: 0px 10px;
}

.social-small > .social-item {
    width: 48px;
    height: 48px;
}

.social-item:hover {
    box-shadow: 3px 5px gray;
}

.github {
    background: url("../svg/github.svg") no-repeat center;
}

.vk {
    background: url("../svg/vkontakte.svg") no-repeat center;
    background-size: cover;
}

.telegram {
    background: url("../svg/telegram.svg") no-repeat center;
    background-size: cover;
}

.email {
    padding: -5px;
    background: url("../svg/email-alt.svg") no-repeat center;
    background-color: white;
    background-size: cover;
}

/* Стэк с технологиями */

.tech-stack {
    padding-inline: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem 1rem;
}

.tech-item {
    position: relative;
    padding: 1%;
    transition: 0.5s;
}

.tech-item .description {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 100%;
    margin-top: 5%;
    padding: 5px;
    width: 250%;
    background-color: #222;
    transition: opacity 0.5s, visibility 0.5s, background-color 0.5s;
}

.tech-item img:first-child {
    width: 64px;
    height: 64px;
}

.tech-item:hover {
    background-color: #333;
}

.tech-item:hover .description {
    opacity: 1;
    visibility: visible;
    background-color: #333;
}

.gold-item:hover {
    background-color: rgba(255, 215, 0, 0.25);
}

.gold-item:hover .description {
    background-color: rgba(255, 215, 0, 0.25);
}

/* Вторая секция с проектами */

.projects {
    display: block;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 1rem;
}

.project-item {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #333;
    box-shadow: 2px 3px 4px wheat;
    padding: 10px;
}

.project-title {
    width: fit-content;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #222;
    padding: 5px;
}

.project-item > *[class^="project"] {
    z-index: 1;
    text-shadow: 1px 1px blue;
}

.project-theme {
    margin-top: auto;
    font-size: small;
}

.transparent-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    opacity: 0.15;
    transition: 0.75s;
}

.hover-reveal:hover {
    opacity: 1;
    z-index: 2;
}

.greenhouse-bg {
    background-image: url("../img/greenhouse-bg.jpg");
}

.discord-bg {
    background-image: url("../img/discord_bot_bg.png");
    background-position: left;
}

.youtube-bg {
    background-image: url("../img/youtube-bg.png");
    background-position: left;
}

/* Секция с Достижениями */

.achievements {
    display: block;
}

.achievements > ul {
    list-style-type: none;
    gap: 15px;
}

.achievements > ul > li {
    font-size: 1.5rem;
    width: 80%;
    margin-inline: auto;
    margin-block: 10px;
}

.achievements > ul > li > a {
    text-decoration: none;
}

/* Секция с фотографиями */

.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 10px;
}

.photo {
    border-radius: 5%;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.photo-first { background-image: url("../img/photo_first.png") }
.photo-second { background-image: url("../img/photo_second.png") }
.photo-third { background-image: url("../img/photo_third.png") }

@media (max-width: 1200px) {
    #myself-top-img {
        width: 100%;
        align-self: center;
        max-width: 367px;
        max-height: 569px;
        margin-left: 30px;
        flex-shrink: 1;
    }
}

@media (max-width: 700px) {
    .section-title {
        font-size: 2.45rem;
    }

    /* Navbar */

    .navbar {
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar #site-brand {
        display: none;
    }

    #navbar-divizor {
        display: block;
        width: 100%;
        margin: 2px 0;
    }

    .navbar .navbar-title {
        margin-block: 10px;
    }

    .navbar-links {
        text-align: center;
    }

    /* Первая секция обо мне */

    #myself-top-img {
        display: none;
    }

    .about-me div {
        width: 100%;
    }
}